/* reset code and common starts here  */
:root{
    --transition: all 0.3s ;
    --transform: scale(1.1);
    --box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-weight: 400;
}

html{
    background-color: #fafafa;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Roboto", "sans-serif";
}
body{
    background-color: #fff;
    /* width: 100rem; */
    max-width: 90%;
    margin: auto;
    box-shadow: var(--box-shadow);
}
.text-justify{
    text-align: justify;
}
.text-white{
    color: #F4F6FF;
}
.btn{
    background-color: rgb(230, 159, 8);
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.6rem;
    padding:1rem 0;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.section-heading{
    font-size: 6rem;
    text-align: center;
    font-family: "Italianno", cursive;
}
.section-center{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: space-evenly;
    align-items: center;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* reset code and common ends here  */
/* header style starts here  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2A5E;
    color: white;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}

.logo-figure{
    border: 1px solid #fff;
}
.logo{
    font-size: 4rem;
}
#menu-icon2{
    display: none;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li{
    padding: 1rem;
    transition: var(--transition);
}
nav ul li:hover{
    background-color: brown;
    border-radius: 0.6rem;
}
.nav-link{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}
/* header style ends here  */
/* banner section starts here */
.banner{
    padding: 5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    /* background-image: url(../images/cover-photo.jpg);
    opacity: 0.85; */
}
.banner article{
    flex-basis: 50%;
    margin: 1rem;
}
.banner-heading{
    display: inline-block;
    background-color: #091057;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    margin-left: 2rem;
    font-family: "Playwrite GB S", cursive;
}
.banner-decription{
    font-size: 1.8rem;
    margin-left: 2rem;

}
.banner aside{
    flex-basis: 50%;
    text-align: center;
}
.banner-img{
    width: 55rem;
    height: 55rem;
    border: 0.3rem solid black;
    border-radius: 0.6rem;
}
/* banner section ends here */
/* about me section starts here   */
#blog-about{
    background-color: #091057;
}
.cards{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card{
    flex: 1;
    border-radius: 0.6rem;
    background-color: #E2F1E7;
    padding: 3rem 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    transition: var(--transition);
}
.card:hover{
    transform: var(--transform);
}
.card-heading{
    font-size: 3rem;
}
.card-description{
    padding: 0.4rem 0;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}
.card-btn{
    width: 80%;
        
}
/* about me section ends here   */
/* Archives Section starts here */
.archives-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
}
.archives-lists{
    display: flex;
    text-align: center;
    gap: 0.6rem;
}
.archives-list{

}
.archives-img{
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    transition: var(--transition);
}
.archives-img:hover{
    transform: var(--transform);
}
/* Archives Section ends here */
/* blog post section start here */
.blog-posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.blog-post{
    width: 70%;
    display: flex;
    margin: 1rem 0;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    border-radius: 1rem;
}
.blog-post:hover{
    transform: var(--transform);
}
.blog-post_aside{
    flex: 1;
}
.blog-img{
    border-radius: 1rem;
    width: 100%;
}
.blog-post_article{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1rem;
    margin-left: 2rem;
    gap: 1rem;
}
.blog-post-head{
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.blog-post-sub-head{
    font-size: 1.8rem;
}
.blog-post-description{
    font-size: 1.3rem;
    text-align: justify;
}
.blog-post-btn{
    width: 30%;
}
/* blog post section ends here */
/* contact section starts here */
#contacts{
    background-color: #4c4c4c;
    min-height: 75vh;
}
form{
    box-shadow: var(--box-shadow);
    padding: 1rem;
    color: #fff;
    margin: 1rem;
}
.form-control{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control label{
    font-size: 2rem;
    flex: 0.3;
}

.form-control input, textarea{
    flex: 0.7;
    width: 40rem;
    padding: 2rem;
    border: none;
    border-radius: 0.6rem;
}
textarea{
    resize: none;
    height: 12vh;
}
.form-btn-field{
    display: flex;
    justify-content: flex-end;
}
.contact-btn{
    width: 30%;
}

/* contact section ends here */
/* footer section starts here*/
.footer{
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    padding: 3rem 4rem;
}
.copyright-text{
    font-size: 1.2rem;
}
.footer-link{
    color: white;
}
.footer-nav{
    display: flex;
    gap: 1.5rem;
}
.footer-icon{
    font-size: 1.25rem;
}

/* footer section ends here*/
/* responsiveness starts here  */
@media screen and (max-width: 992px){
    .banner{
        flex-direction: column;
    }
    .banner article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 55.5%;
    }
    .banner article{
        width: 80%;
    }
    .cards{
        flex-direction: column;
        width: 80%;
    }
    #archives{
        min-height: auto;

    }
    .blog-post{
        width: 80%;
        flex-direction: column;
    }
    #contacts{
        height: auto;
    }

}
@media screen and (max-width: 600px){
    html{
        font-size: 48.5%;
    }
    header{
        flex-direction: column;
    }
    #menu-icon2{
        display: block;
        margin: 2rem 0;
    }
    .hidden{
        display: none;
    }
    
    nav ul{
        flex-direction: column;
        padding-left: 2.5rem;
    }
    .banner{
        min-height: auto;
    }
    .banner-heading{
        text-align: center;
    }
    .banner article{
        width: 90%;
    }
    .banner-img{
        max-width: 100%;
    }
    #blog-about{
        min-height: auto;
    }
    .cards{
        width: 90%;
    }
    .archives-lists{
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        gap: 3rem;
    }
    .blog-post{
        width: 90%;
    }
    form{
        width: 90%;
    }
    .form-control{
        flex-direction: column;
    }
    .form-control input, textarea{
        width: 35rem;
        margin-bottom: 0.5rem;
    }
}
/* responsiveness ends here  */